html, body {
  height: 100%;
}

.page {
  display: grid;
  grid-template:
        'header header header' 200px
        '.      content     .' calc(100% - 400px)
        'footer footer footer' 200px
    /     20%    60%     20%
  ;

  // AREA ITEMS
  &__area-footer {
    grid-area: footer;
  }

  &__area-header {
    grid-area: header;
  }

  &__area-content {
    grid-area: content;
  }
}