:root {
  // COLOR PALETTE
  --color-white: #FFFFFF;
  --color-black: #222222;
  --color-red: #FF5437;
  --color-blue: #0278ED;
  --color-orange: #FF9209;
  --color-pink: #E738CE;
  --color-gay: #00C6DF;
  --color-violet: #B25DF8;
  --color-gray: #666666;
  --color-black-gray: #B1B1B1;
  --color-white-gray: #F2F2F2;
  --color-light-gray: #E5E5E5;
  --color-soft-black: #3d3a3e;
  --color-dark-white: #f5f5f8;
}