@use '../core/functions' as f;

@mixin btn-color($name, $bg, $tc: white) {
  &_#{$name} {
    --btn-bg-color: #{f.color(#{$bg})};
    --btn-color: #{f.color(#{$tc})};
  }
}

.btn {
  --btn-bg-color: #{f.color(black)};
  --btn-color: #{f.color(white)};
  --btn-padding: 9px 21px 17px 20px;
  --btn-height: 47px;
  --btn-anim-speed: 0.3s;

  background-color: f.v(btn-bg-color);
  color: f.v(btn-color);

  height: f.v(btn-height);
  padding: f.v(btn-padding);

  text-align: center;
  white-space: nowrap;
  font-size: f.size(nx2);
  line-height: f.lh(5px);

  cursor: pointer;
  transition: f.v(btn-anim-speed);

  // COLOR
  &_color {
    @include btn-color('black', 'black');
    @include btn-color('white', 'white', 'black');
    @include btn-color('dark', 'dark');
    @include btn-color('primary', 'primary');
    @include btn-color('water', 'water');
    @include btn-color('dark-blue', 'dark-blue');
    @include btn-color('light', 'light');
    @include btn-color('light-red', 'light-red');
  }

  &:hover {
    color: f.v(btn-bg-color);
    background-color: f.v(btn-color);
    box-shadow: 0 0 0 1pt f.v(btn-bg-color);
  }
}