@font-face {
    font-family: icons;
    src: url("/app/src/fonts/icons/icons.eot");src: url("/app/src/fonts/icons/icons.eot?0dc30e4b#iefix") format("embedded-opentype"),
             url("/app/src/fonts/icons/icons.woff2?0dc30e4b") format("woff2"),
             url("/app/src/fonts/icons/icons.woff?0dc30e4b") format("woff"),
             url("/app/src/fonts/icons/icons.ttf?0dc30e4b") format("truetype"),
             url("/app/src/fonts/icons/icons.svg?0dc30e4b#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {
  font-family: 'icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

 
  &_fb::before {
    content: "\ea01";
  } 
  &_insta::before {
    content: "\ea02";
  } 
  &_linkedin::before {
    content: "\ea03";
  } 
  &_twitter::before {
    content: "\ea04";
  } 
}