@use 'src/scss/core/mixin' as m;
@use 'src/scss/core/functions' as f;

.scrollbar {
  --scrollbar-width: 6px;
  --scrollbar-track-bg-color: #{f.color(white)};
  --scrollbar-thumb-bg-color: #{f.color(black)};
  --scrollbar-radius: 10px;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: f.v(scrollbar-radius);
    background-color: f.v(scrollbar-track-bg-color);
  }

  &::-webkit-scrollbar {
    width: f.v(scrollbar-width);
    background-color: f.v(scrollbar-track-bg-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: f.v(scrollbar-radius);
    background-color: f.v(scrollbar-thumb-bg-color);
  }
}