.text {
  --text-color: #000;

  font-size: 16px;
  font-weight: normal;

  color: var(--text-color);

  //FONTS
  &_font_macondo {
    font-family: 'Macondo', cursive;
  }

  //WIGHTS
  &_weight_bold {
    font-weight: bold;
  }

  //SIZE
  &_size_x2 {
    font-size: 2rem;
  }

  &_size_x3 {
    font-size: 3rem;
  }

  //COLOR
  &_color_soft-black {
    --text-color: #3d3a3e;
  }
}