@function v($var, $default: false) {
  @if $default {
    @return if(
       (str-index($default, '--') == 0),
       var(--#{$var}, var(--#{$default})),
       var(--#{$var}, $default)
    )
  }

  @return var(--#{$var});
}

@function size($key: no) {
  @return map-get((
    14px : v(text-size-sx1),
    sx1  : v(text-size-sx1),

    16px : v(text-size-no),
    no   : v(text-size-no),

    18px : v(text-size-nx1),
    nx1  : v(text-size-nx1),

    20px : v(text-size-nx2),
    nx2  : v(text-size-nx2),

    22px : v(text-size-nx3),
    nx3  : v(text-size-nx3),

    24px : v(text-size-nx4),
    nx4  : v(text-size-nx4),

    26px : v(text-size-nx5),
    nx5  : v(text-size-nx5),

    30px : v(text-size-nx6),
    nx6  : v(text-size-nx6),

    32px : v(text-size-mx1),
    mx1  : v(text-size-mx1),

    34px : v(text-size-mx2),
    mx2  : v(text-size-mx2),

    44px : v(text-size-mx3),
    mx3  : v(text-size-mx3),
  ), $key);
}

@function lh($value: 0) {
  @if ($value == 0) {
    @return v(line-height);
  }

  @return calc(#{v(line-height)} + #{$value})
}

@function color($name) {
  @return v(color-#{$name});
}
