@use './config' as c;
@use './helpers' as h;

@mixin text(
  $size: false,
  /* color */          $c: false,
  /* line-height */    $lh: false,
  /* font-weight */    $w: false,
  /* text-align */     $ta: false,
  /* letter-spacing */ $ls: false,
  /* text-transform */ $tt: false,
) {
  @if ($size) {
    font-size: $size;
  }

  @if ($c) {
    color: $c;
  }

  @if ($lh) {
    line-height: $lh;
  }

  @if ($w) {
    font-weight: $w;
  }

  @if ($ta) {
    text-align: $ta;
  }

  @if ($ls) {
    letter-spacing: $ls;
  }

  @if ($tt) {
    text-transform: $tt;
  }
}

@mixin background($color: false, $img: false, $position: center, $size: cover, $repeat: false) {
  @if ($color) {
    background-color: $color;
  }

  @if ($position) {
    background-position: $position;
  }

  @if ($img) {
    background-image: url($img);
  }

  @if ($size) {
    background-size: $size;
  }

  @if ($repeat == false) {
    background-repeat: no-repeat;
  } @else if ($repeat == true) {
    background-repeat: repeat;
  } @else {
    background-repeat: $repeat;
  }
}

@mixin box($w, $h, $radius: 0) {
  width: $w;
  height: $h;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin square($size, $radius: 0) {
  @include box($size, $size, $radius);
}

@mixin coords($t: false, $l: false, $r: false, $b: false) {
  @if ($t) {
    top: $t;
  }

  @if ($l) {
    left: $l;
  }

  @if ($r) {
    right: $r;
  }

  @if ($b) {
    bottom: $b;
  }
}

@mixin flex($flow: false, $jc: false, $ai: false, $ac: false) {
  display: flex;

  @if ($flow == center) {
    justify-content: center;
    align-items: center;
  } @else if ($flow == wrap) {
    flex-wrap: wrap;
  } @else if ($flow) {
    flex-flow: $flow;
  }

  @if ($jc) {
    justify-content: $jc;
  }

  @if ($ai) {
    align-items: $ai;
  }

  @if ($ac) {
    align-content: $ac;
  }
}

@mixin relative($size, $direction: bottom) {
  & + & {
    margin-#{$direction}: $size;
  }
}

@mixin font($type: title) {
  $type: to-lower-case(h.to-string($type));
  $font: c.fonts($type);
  @if not $font {
    @error '#{$type} font not found.';
  }

  font-family: $font;
}
