.bg {
  --bg-color: var(--color-white);

  background-color: var(--bg-color);

  // COLOR
  &_color {
    &_black {
      --bg-color: var(--color-black);
    }
    &_white {
      --bg-color: var(--color-white);
    }
    &_white-gray {
      --bg-color: var(--color-white-gray)
    }
    &_red {
      --bg-color: var(--color-red)
    }
    &_light-gray {
      --bg-color: var(--color-light-gray)
    }
    &_dark-white {
      --bg-color: var(--color-dark-white);
    }
  }
}