.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;

  &_type_center {
    justify-content: center;
    align-items: center;
  }

  &_type_center_column {
    flex-flow: column nowrap;
    align-items: center;
  }
}