.state {
  &--hide {
    display: none !important;
  }

  &--show {
    display: block !important;
  }

  &--no-scroll {
    overflow: hidden;

    &-x {
      overflow-x: hidden;
    }

    &-y {
      overflow-y: hidden;
    }
  }
}
