<footer class="footer page__area-footer">
    <div class="footer__social-network social-networks">
        <a class="social-networks__icon" href="#">
            <i class="icon icon_fb"></i>
        </a>
        <a class="social-networks__icon" href="#">
            <i class="icon icon_insta"></i>
        </a>
        <a class="social-networks__icon" href="#">
            <i class="icon icon_twitter"></i>
        </a>
        <a class="social-networks__icon" href="#">
            <i class="icon icon_linkedin"></i>
        </a>
    </div>
    <p class="footer__copyright">Copyright ©2020 All rights reserved </p>
</footer>