@use '../_conf' as conf;

@include conf.animate(point) {
  @include conf.lines {
    transition: 0.2s ease 0s;

    &::before, &:after {
      transition: margin 0.2s 0.2s, opacity 0s 0.2s;
    }
  }

  @include conf.hover {
    width: 6px;
    transition-delay: 0.2s;

    &:before, &:after {
      margin-top: 0;
      opacity: 0;
      transition-delay: 0s, 0.2s;
    }
  }
}