@use '../../core/page' as page;
@use '../../core/screen' as screen;

.homepage {
  @include page.style;

  &__container {
    display: grid;
    grid-template:
       ".       greeting                  ." auto
       "webpack webpack             webpack" auto
      / auto    minmax(auto, 856px) auto
    ;
  }

  &__greeting {
    padding-block: 140px 74px;
  }

  // ADAPTIVE
  @include screen.mobile {
    &__container {
      grid-template:
         "greeting" auto
         "webpack"  auto
        / minmax(auto, 390px);
    }

    &__greeting {
      padding-block: 33px 58px;
    }
  }
}